<!-- update.html -->
{% extends 'base.html' %}
{% block content %}
<h1>Update post</h1>
<form method="POST" action="{{ url_for('update', post_id=post.id) }}">
    <div class="mb-3">
        <label for="title" class="form-label">Title</label>
        <input type="text" class="form-control" id="title" name="title" placeholder="Title" value="{{ post.title }}" required>
    </div>
    <div class="mb-3">
        <label for="content" class="form-label">Content</label>
        <textarea class="form-control" id="content" name="content" placeholder="Content" required>{{ post.content }}</textarea>
    </div>
    <button type="submit" class="btn btn-primary">Update</button>
</form>
{% endblock %}